:root {
  --main-font-family: "Open Sans", sans-serif;

  --bg-color: #ffffff;
  --main-dark-theme-color: #ffffff;
  --second-dark-theme-color: #9da4bd;
  --main-light-theme-color: #303030;
  --secont-light-theme-color: #555555;
  --accent-color: #ff6c00;

  --distance-btw-items: 30px;

  --transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  scroll-behavior: smooth;
}

/* ======== BASE STYLES ======== */

body {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======== COMPONENT STYLES ======== */

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 448px) and (max-width: 719px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 720px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 720px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  padding: 11px 19px;
  min-width: 160px;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  border-color: var(--accent-color);
}

.btn-dark-theme {
  color: var(--main-dark-theme-color);

  transition: background-color var(--transition), color var(--transition);
}

.btn-light-theme {
  color: var(--main-light-theme-color);
  transition: background-color var(--transition), color var(--transition);
}

.booking-btn-light-theme {
  color: var(--main-light-theme-color);
}

.btn-dark-theme:hover,
.btn-dark-theme:focus,
.btn-light-theme:hover,
.btn-light-theme:focus {
  background-color: var(--accent-color);
  color: var(--main-dark-theme-color);
}

.media-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-light-theme-color);

  transition: color var(--transition);
}

.menu-item:hover,
.menu-item:focus,
.tel:hover,
.tel:focus,
.media-link:hover,
.media-link:focus {
  color: var(--accent-color);
}

.subtitle {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-size: 11px;
  line-height: 1.37;
  text-transform: uppercase;
}

.subtitle::before {
  content: "";

  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.subtitle-dark-theme::before {
  content: "";

  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle-light-theme::before {
  content: "";

  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--main-light-theme-color);
}

.subtitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-light-theme {
  color: var(--main-light-theme-color);
}

.section-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 720px) {
  .section-descr {
    font-size: 18px;
    line-height: 1.67;
  }
}

.section-descr-dark-theme {
  color: var(--second-dark-theme-color);
}

.section-descr-light-theme {
  color: var(--secont-light-theme-color);
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.section-title-light-theme {
  margin-bottom: 20px;
  color: var(--main-light-theme-color);
}

.section-title-dark-theme {
  margin-bottom: 44px;

  color: var(--main-dark-theme-color);
}

.grid {
  width: calc(
    (100% - var(--distance-btw-items) * (var(--elements) - 1)) / var(--elements)
  );
}

.hero-container .media-list::before,
footer .media-list::before,
.media-list-mobile-menu-wrapper::before {
  content: "";

  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: var(--main-light-theme-color);
}

.hero-container .media-item:not(:last-child),
footer .media-item:not(:last-child) {
  margin-right: 40px;
}

.media-list {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
}
/* ======== HEADER STYLES ======== */

header {
  position: absolute;
  z-index: 100;

  top: 40px;
  width: 100%;
}

@media screen and (min-width: 720px) {
  header {
    top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    top: 22px;
  }
}

.header-container {
  display: flex;
}

@media screen and (min-width: 720px) {
  .header-container {
    justify-content: space-between;
    align-items: center;
  }
}

.menu-btn {
  margin-left: auto;
  padding: 0 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
}

@media screen and (min-width: 720px) {
  .menu-btn {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 720px) {
  nav {
    width: 570px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    width: 1070px;

    padding-left: 100px;
  }
}

@media screen and (max-width: 719px) {
  .nav-overlay.is-open {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(25, 28, 38, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    transition: opacity var(--transition);
  }

  nav {
    position: fixed;
    right: 0;
    top: 0;

    width: 337px;
    height: 100%;

    flex-direction: column;
    align-items: start;

    padding-top: 118px;
    padding-left: 40px;

    background-color: var(--bg-color);

    transform: translateX(100%);

    transition: transform var(--transition);
  }

  .nav-overlay.is-open nav {
    transform: translateX(0);
  }
}

.menu {
  display: flex;
  gap: var(--distance-btw-items);
}

@media screen and (max-width: 719px) {
  .menu {
    flex-direction: column;
    gap: 24px;

    margin-bottom: 64px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .menu {
    --distance-btw-items: 16px;
  }
}

.menu-item,
.tel {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-dark-theme-color);

  transition: color var(--transition);
}

@media screen and (max-width: 719px) {
  .menu-item,
  .tel {
    font-size: 18px;
    line-height: 1.39;

    color: var(--main-light-theme-color);
  }

  .tel {
    margin-bottom: 24px;
  }

  .btn-booking-menu {
    padding: 12px 37px;
    margin-bottom: 64px;

    color: var(--main-light-theme-color);
  }
}

@media screen and (min-width: 720px) {
  .menu-item,
  .tel {
    padding: 20px 0;
  }
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .tel {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .tel {
    margin-left: auto;
    margin-right: 40px;
  }
}

.media-list-mobile-menu-wrapper {
  display: flex;
}

@media screen and (min-width: 720px) {
  .media-list-mobile-menu-wrapper {
    display: none;
  }
}

.media-list-mobile-menu-wrapper::before {
  transform: translateY(12px);
}

.media-list-mobile-menu .media-link {
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width: 720px) {
  .media-list-mobile-menu {
    display: none;
  }
}

.media-list-mobile-menu .media-item:not(:last-child) {
  margin-bottom: 24px;
}

.btn-menu-close {
  position: absolute;

  top: 48px;
  right: 15px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
}

@media screen and (min-width: 720px) {
  .btn-menu-close {
    display: none;
  }
}

/* ======== HERO STYLES ======== */

@media screen and (max-width: 719px) {
  .hero-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: var(--main-light-theme-color);
  }
}

.hero-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-section {
  position: relative;

  width: 100%;
}

@media screen and (max-width: 480px) {
  .hero-wrapper.slider1 {
    background-image: url(../img/slider/mobile/slider-1.jpg);
  }

  .hero-wrapper.slider2 {
    background-image: url(../img/slider/mobile/slider-2.jpg);
  }

  .hero-wrapper.slider3 {
    background-image: url(../img/slider/mobile/slider-3.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrapper.slider1 {
      background-image: url(../img/slider/mobile/slider-1@2x.jpg);
    }

    .hero-wrapper.slider2 {
      background-image: url(../img/slider/mobile/slider-2@2x.jpg);
    }

    .hero-wrapper.slider3 {
      background-image: url(../img/slider/mobile/slider-3@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-wrapper.slider1 {
      background-image: url(../img/slider/mobile/slider-1@3x.jpg);
    }

    .hero-wrapper.slider2 {
      background-image: url(../img/slider/mobile/slider-2@3x.jpg);
    }

    .hero-wrapper.slider3 {
      background-image: url(../img/slider/mobile/slider-3@3x.jpg);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 719px) {
  .hero-wrapper.slider1 {
    background-image: url(../img/slider/desktop/slider-1.jpg);
  }

  .hero-wrapper.slider2 {
    background-image: url(../img/slider/desktop/slider-2.jpg);
  }

  .hero-wrapper.slider3 {
    background-image: url(../img/slider/desktop/slider-3.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrapper.slider1 {
      background-image: url(../img/slider/desktop/slider-1@2x.jpg);
    }

    .hero-wrapper.slider2 {
      background-image: url(../img/slider/desktop/slider-2@2x.jpg);
    }

    .hero-wrapper.slider3 {
      background-image: url(../img/slider/desktop/slider-3@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-wrapper.slider1 {
      background-image: url(../img/slider/tablet/slider-1@3x.jpg);
    }

    .hero-wrapper.slider2 {
      background-image: url(../img/slider/tablet/slider-2@3x.jpg);
    }

    .hero-wrapper.slider3 {
      background-image: url(../img/slider/tablet/slider-3@3x.jpg);
    }
  }
}

@media screen and (min-width: 720px) {
  .hero-section {
    padding-right: 20px;
    margin-left: 120px;

    width: 570px;

    background-color: var(--main-light-theme-color);
    background-size: cover;
  }

  .hero-section.slider1 {
    background-image: url(../img/slider/tablet/slider-1.jpg);
  }

  .hero-section.slider2 {
    background-image: url(../img/slider/tablet/slider-2.jpg);
  }

  .hero-section.slider3 {
    background-image: url(../img/slider/tablet/slider-3.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section.slider1 {
      background-image: url(../img/slider/tablet/slider-1@2x.jpg);
    }

    .hero-section.slider2 {
      background-image: url(../img/slider/tablet/slider-2@2x.jpg);
    }

    .hero-section.slider3 {
      background-image: url(../img/slider/tablet/slider-3@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section.slider1 {
      background-image: url(../img/slider/tablet/slider-1@3x.jpg);
    }

    .hero-section.slider2 {
      background-image: url(../img/slider/tablet/slider-2@3x.jpg);
    }

    .hero-section.slider3 {
      background-image: url(../img/slider/tablet/slider-3@3x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    margin-left: 100px;

    width: 1070px;
  }

  .hero-section.slider1 {
    background-image: url(../img/slider/desktop/slider-1.jpg);
  }

  .hero-section.slider2 {
    background-image: url(../img/slider/desktop/slider-2.jpg);
  }

  .hero-section.slider3 {
    background-image: url(../img/slider/desktop/slider-3.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section.slider1 {
      background-image: url(../img/slider/desktop/slider-1@2x.jpg);
    }

    .hero-section.slider2 {
      background-image: url(../img/slider/desktop/slider-2@2x.jpg);
    }

    .hero-section.slider3 {
      background-image: url(../img/slider/desktop/slider-3@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero-section.slider1 {
      background-image: url(../img/slider/desktop/slider-1@3x.jpg);
    }

    .hero-section.slider2 {
      background-image: url(../img/slider/desktop/slider-2@3x.jpg);
    }

    .hero-section.slider3 {
      background-image: url(../img/slider/desktop/slider-3@3x.jpg);
    }
  }
}

@media screen and (max-width: 719px) {
  .hero-text-wrapper .subtitle {
    letter-spacing: 0.1em;
  }
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-dark-theme-color);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.slider {
  padding: 0;
  padding-bottom: 8px;

  min-width: 60px;

  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  border: transparent;

  cursor: auto;
}

.slider-active {
  color: var(--main-dark-theme-color);

  cursor: pointer;
}

.slider-wrapper::after {
  content: "";
  display: block;

  width: 60px;
  height: 1px;

  background: rgba(157, 164, 189, 0.6);
}

.slider-active.slider-wrapper::after {
  background-color: var(--bg-color);
}

.slider-back {
  text-align: start;
}

.slider-forward {
  text-align: end;
}

.slider-container {
  align-self: flex-end;
  display: flex;
  gap: 24px;

  position: absolute;
  right: 20px;
  bottom: 40px;
}

@media screen and (max-width: 719px) {
  .slider-container {
    display: none;
  }
}

.hero-text-wrapper {
  padding-top: 208px;
  padding-bottom: 209px;
}

@media screen and (min-width: 720px) {
  .hero-text-wrapper {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-text-wrapper {
    padding-bottom: 208px;
  }
}

.hero-container .media-list {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;

  bottom: 40px;
  left: 56px;
}

@media screen and (max-width: 719px) {
  .hero-container .media-list {
    display: none;
  }
}

.slider-line-check {
  display: none;
}

.slider-line {
  position: absolute;

  height: 2px;
  background-color: var(--second-dark-theme-color);

  cursor: pointer;
}

@media screen and (max-width: 719px) {
  .slider-line {
    left: 50%;
    bottom: 30px;

    transform: translateX(-50%);

    width: 40px;
  }

  .slider-line-list:first-child .slider-line {
    transform: translateX(calc(-150% - 20px));
  }

  .slider-line-list:last-child .slider-line {
    transform: translateX(calc(50% + 20px));
  }
}

@media screen and (min-width: 720px) {
  .slider-line {
    right: 20px;
    top: 50%;

    width: 8px;
  }

  .slider-line-list:first-child .slider-line {
    transform: translateY(-12px);
  }

  .slider-line-list:last-child .slider-line {
    transform: translateY(12px);
  }
}

.slider-line-check:checked + .slider-line {
  background-color: var(--bg-color);
}

@media screen and (min-width: 720px) {
  .slider-line-check:checked + .slider-line {
    width: 18px;
  }
}

/* ======== ABOUT STYLES ======== */

.about-section-text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secont-light-theme-color);
}

@media screen and (min-width: 720px) {
  .about-section-text {
    margin-bottom: 77px;
  }
}

@media screen and (min-width: 1200px) {
  .about-section-text {
    margin-bottom: 42px;
  }
}

.about-photo {
  display: flex;
  flex-wrap: wrap;

  gap: var(--distance-btw-items);
}

@media screen and (max-width: 719px) {
  .about-photo {
    display: none;
  }
}

.about-container {
  --elements: 1;

  display: flex;
  gap: var(--distance-btw-items);
}

@media screen and (min-width: 720px) {
  .about-container {
    --elements: 2;

    display: flex;
    gap: var(--distance-btw-items);
  }
}

@media screen and (min-width: 1200px) {
  .about-wrapper {
    width: 470px;
  }
}

/* ======== PRICE STYLES ======== */

#price {
  background-color: #111319;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 480px) {
  #price {
    background-image: url(../img/background/mobile/price-bg.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #price {
      background-image: url(../img/background/mobile/price-bg@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    #price {
      background-image: url(../img/background/mobile/price-bg@3x.png);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #price {
    background-image: url(../img/background/tablet/price-bg.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #price {
      background-image: url(../img/background/tablet/price-bg@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    #price {
      background-image: url(../img/background/tablet/price-bg@3x.png);
    }
  }
}

@media screen and (min-width: 769px) {
  #price {
    background-image: url(../img/background/desktop/price-bg.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #price {
      background-image: url(../img/background/desktop/price-bg@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    #price {
      background-image: url(../img/background/desktop/price-bg@3x.png);
    }
  }
}

.tables {
  margin-bottom: 44px;
}

@media screen and (max-width: 1199px) {
  .tables {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .tables {
    --elements: 2;

    display: flex;
    gap: var(--distance-btw-items);
    justify-content: space-between;

    margin-bottom: 44px;
  }
}

.table-left,
.table-right {
  padding: 30px 30px;
}

@media screen and (min-width: 720px) {
  .table-left,
  .table-right {
    padding: 32px 34px;
  }
}

.table-left {
  padding-bottom: 20px;
}

.table-right {
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .table-left,
  .table-right {
    padding: 30px 20px;
  }

  .table-left {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .table-right {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-table {
  width: 100%;

  border-collapse: collapse;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--second-dark-theme-color);
}

@media screen and (min-width: 720px) {
  .price-table {
    font-size: 18px;
    line-height: 1.67;
  }
}

.price-table td {
  padding: 0;
}

.price-table tr:not(:last-child) .cell-wrap {
  margin-bottom: 20px;
}

.price-table td:last-child .cell-wrap {
  justify-content: end;
}

.cell-wrap {
  display: flex;
  align-items: baseline;
}

.price-table td:first-child .cell-wrap::after {
  content: "";

  margin-left: 12px;

  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.2);
}

.price-table td:last-child .cell-wrap::before {
  content: "";

  margin-right: 12px;

  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.2);
}

.btn-wrapper {
  text-align: center;
}

/* ======== BENEFITS STYLES ======== */

.benefit-content {
  text-align: center;
  width: 194px;
  padding: 20px 36px;

  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 720px) {
  .benefit-content {
    width: 210px;
    padding: 20px 44px;
  }
}

@media screen and (min-width: 1200px) {
  .benefit-content {
    width: 170px;
    padding: 20px 24px;
  }
}

.num-benefit {
  position: relative;
  display: inline-block;

  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: var(--main-light-theme-color);
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 3px), 8px);

  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

.benefit-item {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--main-light-theme-color);
}

.benefits-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--distance-btw-items);
}

@media screen and (min-width: 720px) {
  .benefits-card {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-card {
    margin-right: 100px;
  }
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;
}

@media screen and (min-width: 1200px) {
  .benefits-container {
    flex-direction: row;
  }
}

.benefits-card-right-side {
  padding-top: 35px;
}

.benefit-content:not(:last-child) {
  margin-bottom: var(--distance-btw-items);
}

@media screen and (min-width: 720px) {
  .benefits-text {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-text {
    margin-right: 70px;
  }
}

/* ======== TEAM STYLES ======== */

#team {
  background-color: #f7f7f7;
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .team-container {
    width: 480px;
  }
}

.employee-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-light-theme-color);
}

@media screen and (min-width: 1200px) {
  .employee-name {
    margin-bottom: 3px;
    line-height: 1.67;
  }
}

.job-title {
  text-align: center;
  margin-bottom: var(--distance-btw-items);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.team-section-title {
  margin-bottom: 44px;
}

.team-cards {
  --elements: 1;
  --distance-btw-items: 64px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--distance-btw-items);
}

@media screen and (min-width: 1200px) {
  .team-cards {
    --elements: 3;
  }
}

.team-card-text {
  --distance-btw-items: 30px;

  padding-top: var(--distance-btw-items);
}

.team-media-item {
  color: var(--main-light-theme-color);

  transition: color var(--transition);
}

.media-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.team-media-item:hover,
.team-media-item:focus {
  color: var(--accent-color);
}

.team-cards .media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.team-cards .media-list {
  gap: 10px;
}

/* ======== GALLERY STYLES ======== */

.gallery-section-subtitle {
  margin-bottom: 44px;
}

.photo-gallery {
  --elements: 1;

  display: flex;
  flex-wrap: wrap;
  gap: var(--distance-btw-items);
}

@media screen and (min-width: 720px) {
  .photo-gallery {
    --elements: 2;
  }
}

@media screen and (min-width: 1200px) {
  .photo-gallery {
    --elements: 4;
  }
}
/* ======== BOOKING AND CONTACTS STYLES ======== */

.booking-and-contacts-section {
  position: relative;
  overflow: hidden;

  background-color: #191c26;
}

@media screen and (min-width: 1200px) {
  .booking-and-contacts-section {
    background-color: #111319;
  }
}

.booking-and-contacts-section::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 50%;

  top: calc(50% + var(--distance-btw-items) / 2);
  left: 0;

  background-image: url(../img/background/mobile/contacts-bg.png);
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .booking-and-contacts-section::after {
    background-image: url(../img/background/mobile/contacts-bg@2x.png);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .booking-and-contacts-section::after {
    background-image: url(../img/background/mobile/contacts-bg@3x.png);
  }
}

@media screen and (min-width: 481px) {
  .booking-and-contacts-section::after {
    background-image: url(../img/background/tablet/contacts-bg.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .booking-and-contacts-section::after {
      background-image: url(../img/background/tablet/contacts-bg@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .booking-and-contacts-section::after {
      background-image: url(../img/background/tablet/contacts-bg@3x.png);
    }
  }
}

@media screen and (min-width: 769px) {
  .booking-and-contacts-section::after {
    background-image: url(../img/background/desktop/contacts-bg.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .booking-and-contacts-section::after {
      background-image: url(../img/background/desktop/contacts-bg@2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .booking-and-contacts-section::after {
      background-image: url(../img/background/desktop/contacts-bg@3x.png);
    }
  }
}

.booking-and-contacts-container {
  --elements: 1;

  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .booking-and-contacts-container {
    --elements: 2;

    gap: var(--distance-btw-items);
  }

  .booking-and-contacts-section::after {
    width: 50%;
    height: 100%;

    top: 0;
    left: calc(50% + var(--distance-btw-items) / 2);
  }
}

.booking-container .section-title {
  margin-bottom: 32px;
}

.booking-form {
  --elements: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--distance-btw-items);
  row-gap: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

@media screen and (min-width: 720px) {
  .booking-form {
    --elements: 2;

    justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .booking-form {
    letter-spacing: 0.2em;
  }
}

.message-wpapper {
  --elements: 1;
}

textarea {
  resize: none;
}

.input-form {
  width: 100%;
  height: 24px;
  padding: 0 6px;

  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-dark-theme-color);

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.input-wrapper {
  position: relative;
}

.form-lable {
  position: absolute;

  top: 0;
  left: 0;
}

.message-wpapper > .input-form {
  height: 76px;
}

.input-form:focus {
  border-bottom: 1px solid var(--main-dark-theme-color);
}

.input-form:focus + .form-lable {
  color: var(--main-dark-theme-color);
}

.input-form:focus + .form-lable,
.input-form:not(:placeholder-shown) + .form-lable {
  transform: translateY(-100%) scale(0.8);
  transform-origin: left;
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    padding-left: 100px;
  }
}

.address {
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-dark-theme-color);
}

.contacts {
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-dark-theme-color);
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 111px;
  row-gap: 40px;
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .contacts-wrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-wrapper {
    row-gap: 72px;
  }
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item {
  display: flex;
  align-items: center;

  color: var(--second-dark-theme-color);
}

.contact-icons {
  margin-right: 16px;
  stroke: currentColor;
}

@media screen and (max-width: 1199px) {
  .hours-title {
    color: var(--main-dark-theme-color);
  }
}

/* ======== FOOTER STYLES ======== */

footer {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: 720px) {
  footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

footer .container {
  display: flex;
  justify-content: space-between;

  color: var(--second-dark-theme-color);
}

@media screen and (max-width: 719px) {
  footer .container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  footer .media-list {
    margin-left: auto;
  }
}
